.site-footer {
  padding-top: 60px;
  padding-bottom: 60px;
}
.ft-content {
  @media(min-width:768px){
    width: 33.3333%;
  float: left;
  }
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 30px;
}

.contact-address {
  font-family: 'GothamMedium';
}

.social {
  margin-top: 20px;
  a {
    font-size: 28px;
    display: inline-block;
    padding: 5px;
  }
}

.footer-bottom {
  .list-inline {
    li {
      font-size: 28px;
    }
  }
}