.main {
  padding-top: 60px;
  @media(max-width:768px){
    padding-top: 30px;
  }
}

.main-content{
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  &-title {
    background: #e3e3e3;
    padding: 10px;
    margin-bottom: 30px; 
    color: #591b31;
    font-size: 35px;
    letter-spacing: 5px;
      font-family: 'GothamMedium';
    span {
      color: #d5220c;
    }
  }
  &-tagline {
    margin-bottom: 0;
    color: #591b31;
    font-size: 18px;
  }
  &-text {
    @media (min-width:768px){
      width: 90%;
      margin-left: auto;
      margin-right: auto;
    }
  }
}


.form-newsletter {
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
}

.newsletter-title {
  text-align: center;
  background: #591b31;
  color: #fff;
  font-size: 14px;
  margin: 0;
  font-family: 'GothamMedium';
  padding: 10px;
  letter-spacing: 3px;
  span {
    color: #d5220c;
    font-size: 28px;
    letter-spacing: 5px;    
  }
}


.form-group {
  display: flex;
  margin-top: 20px;
  input {
    flex: 1;
    margin-right: 15px;
    padding: 10px 15px;
    border: 1px solid #f2f2f2;
    box-shadow: inset 0 0 10px 1px rgba(0,0,0,.1);
    &:focus {
      outline: none;
    }
  }
  .btn {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
  }
  small {
    color: #0b0b0b;
    font-size: 14px;
  }
}


.img-gallery {
  margin-top: 50px;
  display: flex;
  .column-4 {
    flex: 1;
    &:nth-child(2){
      margin-left: 5px;
      margin-right: 5px;
    }
  }
  img {
  width: 100%;
    height: 100%;
  }
}

